body {
  font-family: monospace,lucida console;
  background-color: #69F7BE;
  text-align:center;
}

h1{
  font-size:50px;
}

#MainSelectors{
  margin-top:30px;
}

#MainSelectors button{
  width:300px;
  height:100px;
  margin-top:30px;
  font-size:30px;
}

#btnLivingEnv,#btnTrig{
  margin-left:60px;
}

#Game1Ans{
  text-align:left;
}

#Game1Words{
  padding-top:20px;
  margin-left:80px;
  border:solid 2px;
  width: 1200px;
  height:120px;
  font-size:30px;
}
#Game1Words label{
  margin-bottom:10px;
}
#Game1Ans label{
  font-size:28px;
}
#Game1Ans input{
  height:28px;
  width:19px;
  font-size:28px;
}
#ChemWord2{
  margin-top:20px;
}

#btnGame1Submit{
  font-size:20px;
  width:120px;
}
#Results{
  font-size:150px;
}
#lblscore1{
  margin-left:-50px;
  z-index: 2;
}
#lblSep{
  margin-right:50px;
  margin-top:-130px;
  position:absolute;
  z-index: -1;
}
#lblTotal{
  position:absolute;
  margin-top:-240px;
  z-index: -2;
  margin-left:30px;
}